// ------------------------------------------------
// Footer
// ------------------------------------------------
footer{

  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;

  color: $footer-color;

  ul{

    padding: 0px;
    margin: 0px;

    li{
      display: inline-block;
      padding: 0px 2.5px;
      font-size: $social-font-size;
    }
  }

  p{
    font-size: $footer-font-size;
    text-transform: uppercase;
    padding: 10px 0px 20px;
  }

}
