// ------------------------------------------------
// General Styles
// ------------------------------------------------
@import "partials/mixins";

#wpadminbar{z-index: 2;}


.right{float: right;}
.left{float: left;}
.clrfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clrfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clrfix { height: 1%; }
.clrfix { display: block; }
/* close commented backslash hack */


// ------------------------------------------------
// Navigation Icon
// ------------------------------------------------
#nav-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(rotate(0deg) translate(-50%, -50%));
  @include transition(.5s ease-in-out);
  cursor: pointer;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $nav-icon-color;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  @include transform(rotate(0deg));
  @include transition(.25s ease-in-out);

}

#nav-icon span:nth-child(1) {
  top: 0px;
  @include transform-origin(left center);
}

#nav-icon span:nth-child(2) {
  top: 9px;
  @include transform-origin(left center);
}

#nav-icon span:nth-child(3) {
  top: 18px;
  @include transform-origin(left center);
}

#nav-icon.open span:nth-child(1) {
  @include transform(rotate(45deg));
  top: -3px;
  left: 4px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  @include transform(rotate(-45deg));
  top: 18px;
  left: 4px;
}

// ------------------------------------------------
// Hide Icon
// ------------------------------------------------
#hide-icon {
  position: absolute;
  // top: 50%;
  // left: 50%;
  width: 30px;
  height: 30px;
  top: 40px;
  right: 40px;
  z-index: 1;

  @include transform(rotate(0deg));
  @include transform-origin(center);

  @include transition(.5s ease-in-out);
  cursor: pointer;
}

#hide-icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 40px;
  background: $nav-icon-color;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  @include transition(.25s ease-in-out);

  &:first-child{
    bottom: 13px;
    left: -4px;
    @include transform(rotate(45deg));
  }

  &:nth-child(2){
    bottom: 13px;
    left: -5px;
    @include transform(rotate(-45deg));
  }
}

#hide-icon.open{
  @include transform(rotate(135deg));
}
