html,
body {
  padding: 0px !important;
  margin: 0px !important; }

#wpadminbar {
  z-index: 2; }

.right {
  float: right; }

.left {
  float: left; }

.clrfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clrfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clrfix {
  height: 1%; }

.clrfix {
  display: block; }

/* close commented backslash hack */
#nav-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: rotate(0deg) translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: rotate(0deg) translate(-50%, -50%);
  /* Safari */
  -moz-transform: rotate(0deg) translate(-50%, -50%);
  /* Firefox */
  transform: rotate(0deg) translate(-50%, -50%);
  /* Standard syntax */
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Safari */
  -moz-transform: rotate(0deg);
  /* Firefox */
  transform: rotate(0deg);
  /* Standard syntax */
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon.open span:nth-child(1) {
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  -moz-transform: rotate(45deg);
  /* Firefox */
  transform: rotate(45deg);
  /* Standard syntax */
  top: -3px;
  left: 4px; }

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#nav-icon.open span:nth-child(3) {
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari */
  -moz-transform: rotate(-45deg);
  /* Firefox */
  transform: rotate(-45deg);
  /* Standard syntax */
  top: 18px;
  left: 4px; }

#hide-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 40px;
  right: 40px;
  z-index: 1;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Safari */
  -moz-transform: rotate(0deg);
  /* Firefox */
  transform: rotate(0deg);
  /* Standard syntax */
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

#hide-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 40px;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }
  #hide-icon span:first-child {
    bottom: 13px;
    left: -4px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari */
    -moz-transform: rotate(45deg);
    /* Firefox */
    transform: rotate(45deg);
    /* Standard syntax */ }
  #hide-icon span:nth-child(2) {
    bottom: 13px;
    left: -5px;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Safari */
    -moz-transform: rotate(-45deg);
    /* Firefox */
    transform: rotate(-45deg);
    /* Standard syntax */ }

#hide-icon.open {
  -ms-transform: rotate(135deg);
  /* IE 9 */
  -webkit-transform: rotate(135deg);
  /* Safari */
  -moz-transform: rotate(135deg);
  /* Firefox */
  transform: rotate(135deg);
  /* Standard syntax */ }

header {
  position: relative;
  z-index: 1;
  float: left;
  height: 100vh;
  width: 50px; }
  header .navigation-view {
    width: 50px;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    background: #F5F5F5;
    border-right: 1px solid #CCCCCC; }
  header nav {
    position: relative;
    z-index: 0;
    width: 200px;
    height: 100%;
    left: -200px;
    top: 0;
    background: #F5F5F5;
    border-right: 1px solid #CCCCCC;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease; }
    header nav.view {
      left: 50px; }
    header nav h2 {
      font-size: 14px;
      text-align: center;
      margin: 0px;
      padding: 20px 0px 10px;
      text-transform: uppercase; }
    header nav > ul {
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;
      -ms-transform: translateY(-50%);
      /* IE 9 */
      -webkit-transform: translateY(-50%);
      /* Safari */
      -moz-transform: translateY(-50%);
      /* Firefox */
      transform: translateY(-50%);
      /* Standard syntax */ }

.blog-post {
  width: 100%; }
  .blog-post .blog-text {
    position: absolute;
    right: -50%;
    background: #F5F5F5;
    width: 50%;
    height: 100vh;
    padding: 20px;
    -webkit-transition: all 0.75s ease-in;
    -moz-transition: all 0.75s ease-in;
    -o-transition: all 0.75s ease-in;
    transition: all 0.75s ease-in; }
    .blog-post .blog-text .blog-text-content {
      max-width: 450px;
      margin: 0 auto; }
      .blog-post .blog-text .blog-text-content h2 {
        text-align: center; }
    .blog-post .blog-text.open {
      right: 0; }
  .blog-post .master-slider-parent {
    position: absolute !important;
    z-index: -1;
    top: 0px; }
  .blog-post .ms-bullets {
    left: 0px; }
  .blog-post .ms-view,
  .blog-post .ms-slide .ms-slide-bgcont, .blog-post .ms-slide .ms-slide-bgvideocont {
    height: 100vh !important; }
  .blog-post .ms-slide .ms-slide-bgcont img {
    height: 100vh !important;
    width: auto !important; }

footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  color: #CCCCCC; }
  footer ul {
    padding: 0px;
    margin: 0px; }
    footer ul li {
      display: inline-block;
      padding: 0px 2.5px;
      font-size: 1.25em; }
  footer p {
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 10px 0px 20px; }

body {
  font-size: 1em;
  color: #333;
  letter-spacing: 0.025em; }

a {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.content {
  float: right;
  width: calc(100vw - 51px); }
  .content .row {
    padding: 0px; }

.row {
  padding: 20px; }

@media (min-width: 992px) {
  .container {
    width: 100% !important; } }

/*# sourceMappingURL=style.css.map */
